<script src="__PUBLIC__/home/js/yahoo-dom-event.js"></script> 
<style>
 
 a{text-decoration: none; color: #83B3C9;font-family: inherit;}
 a:visited {text-decoration: none;}
 .check{color: #FFF !important;}

 #yc-menu{width: 100%}
 </style>
<section id="three" style="background-color:#3E809A; width:100%;position: absolute;height: 5rem;bottom: 0">
    <div class="outer" style="display: inline-block;">
        <div class="header-logo" background="__PUBLIC__/home/images/menu_bg">
            <ul id="yc-menu">
            <li  style="width: 33%;text-align: center;vertical-align: middle;float: left;"><a href="{:U('Index/index')}" target="" id="nav0" class="check">商品首页</a></li>
            <div style="border-right: 2px solid #5694AB;width: 1px;height: 3.5rem;float: left;position: absolute;top:0.7rem;left: 32%"></div>
            <li style="width: 33%;text-align: center;vertical-align: middle;float: left;"><a href="{:U('Friend/index')}" target="" id="nav1">为好友充值</a></li>
            <div style="border-right: 2px solid #5694AB;width: 1px;height: 3.5rem;float: left;position: absolute;top:0.7rem;left: 65%"></div>
            <li style="width: 33%;text-align: center;vertical-align: middle;float: left;"><a href="{:U('Order/index')}" target="" id="nav2">我的订单</a></li>
            </ul>

        </div>
    </div>
</section>






<script src="__PUBLIC__/home/js/jquery-1.11.3.min.js"></script>	
<script type="text/javascript">
    var $D  = YAHOO.util.Dom;
    var $E  = YAHOO.util.Event;
    var con = $D.get("yc-menu").getElementsByTagName("a");
    $E.on(con,'click',function(e){
    var el = $E.getTarget(e);
    if(!el)return;
     for(var i = 0;i<con.length;i++){
      $D.removeClass(con[i],'check');
     }
     $D.addClass(el,'check');
    });

//亮 1,3,5 灰 2,4,6/**/
    $(function(){ 
        var url = [];
        url[0] = 'Index/index'; 
        url[1] = 'Friend/index';
        url[2] = 'Order/index';
        for(i in url) {
            var Request = new Object();
            Request = GetRequest();
            var Con = Request['c'];
            var Act= Request['a']; 
            if(Con !='' && Act != '') {
              var par = Con+"/"+Act; 
              if (par == url[i]) {
                  $("a").removeClass('check');
                  $("#nav"+i).addClass('check');
                  return false;
              }
            } else {
                $("a").removeClass('check');
                $("#nav1").addClass('check');
            }
            
        }
    })

//js 获取url中的参数
function GetRequest() {
   var url = location.search; //获取url中"?"符后的字串 
   var theRequest = new Object();
   if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i ++) {
         theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
      }
   }
   return theRequest;
}


</script>