
<include file="Public/head"/>
<body class="no-skin">
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <include file="Public/breadcrumbs"/>
            <include file="Public/set"/>
            <style>
                .grouptd {
                    position: relative;
                }
                .group {
                    display: inline-block;
                    width: 100%;
                }
                .groupselect {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 0;
                }
                input{
                    text-align: left;
                }
                td{
                    text-align: left;
                }
                input {
                    border: none;
                }

            </style>
            <div class="bootstrap-table1">
                <div class="fixed-table-toolbar">
                    <a href="{:U('Banner/Uploadpic')}" class="btn btn-purple btn-sm addRow form-button" >上传图片</a>
                </div>
            </div>
            <div class="fixed-table-container" style="padding-bottom: 0px;">
                <div class="fixed-table-body">
                           <div class="col-xs-12">
                    <div class="space-4"></div>
                    <div class="row" style="margin-left: 20px;">
                       
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th >ID</th>
                                        <th >URL</th>
                                        <th >IMG</th>
                                        <th >SORT</th>
                                        <th style="text-align: center !important;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>                           
                                    <volist name="list" id="val">
                                        <tr>
                                            <td >{$val['id']}</td>
                                            <td >{$val['url']}</td>
                                            <td >{$val['img']}</td>
                                            <td >{$val['sort']}</td>
                                            <td style="text-align: center !important" >
                                                <button class="btn btn-info recharge" id="dialog-recharge" onclick="update('{$val['id']}','{$val['url']}','{$val['img']}','{$val['sort']}')">修改</button>
                                                    &nbsp;&nbsp;&nbsp;
                                                <!----> <button class="btn btn-info recharge" id="dialog-recharge" onclick="del('{$val['id']}','{$val['img']}')">删除</button> 
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                        
                       <div style="margin:0 auto">{$page}</div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
                </div>
            </div>
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<div id="dialog" class="ui-dialog-content1 ui-widget-content" style="width: auto; min-height: 50px; max-height: none; height: auto;">
    <form  method="post" >
        <table >
            <tr>
            <td >id ：</td>
            <td><input type="text" name="id" value="" id="username" readonly="true"></td>
            </tr>
            <tr>
            <td >url：</td>
            <td><input type="text" name="url" value="" readonly="true"></td>
            </tr>
            <tr>
            <td >img ：</td>
            <td><input type="text" name="img" value="" readonly="true"></td>
            </tr>
           
            <tr>
            <td >sort ：</td>
            <td><input type="text" name="sort" value=""> </td>
            </tr>

            <tr>
            <td  colspan="4" align="center" >
            <input type="submit" id="submit-update" role="button" style="background-color:#6ab6e8;margin-top: 10px;width: 50px;height: 30px;border-radius: 10%;color:#fff;text-align: center; font-size: 15px;margin-left: 110px" value="修 改">
            </td></tr>
        </table>
    </form>
</div>




<include file="Public/footerjs"/>

<script type="text/javascript">

$( "#dialog" ).dialog({
    autoOpen: false,
    width: 300,
    height:230,
    title:'修 改'
});

function update(id, url, img, sort){ 
    $("input[name='id']").val(id);
    $("input[name='url']").val(url);
    $("input[name='img']").val(img);
    $("input[name='sort']").val(sort);
    $( "#dialog" ).dialog( "open" );
    event.preventDefault();
}

$("#submit-update").click(function(){
    var sort = $("input[name='sort']").val();
    var id = $("input[name='id']").val();
    $.post("{:U('Banner/update')}", {id:id,sort:sort}, function(data){   
       if (data.status == 'ok') {
            alert(data.msg);
            window.location.reload();
        }else {
            alert(data.msg);
            return false;
        }
    });
});

function del(id, img){
    $.post("{:U('Banner/delete')}", {id:id, img:img}, function(data){
       if (data.status == 'ok') {
            alert(data.msg);
            window.location.reload();
        }else {
            alert(data.msg);
            return false;
        }
    });
}
</script>
<script type="text/javascript">
    $(function () {
        $(".group").click(function () {
            $(this).addClass('hide');
            $(this).parent().find(".groupselect").removeClass('hide');
        })
        $(".groupselect").on("change", function () {
            var ob = $(this);
            var gid = ob.val();
            var uid = ob.parent().find('.group').attr('val');
            $.get("{:U('update')}?ajax=yes&uid=" + uid + "&gid=" + gid, function (data) {
                var text = ob.find("option:selected").text();
                ob.parent().find(".group").removeClass('hide').html(text);
                ob.addClass('hide');
            });
        })

        $(".check-all").click(function () {
            $(".uids").prop("checked", this.checked);
        });
        $(".uids").click(function () {
            var option = $(".ids");
            option.each(function (i) {
                if (!this.checked) {
                    $(".check-all").prop("checked", false);
                    return false;
                } else {
                    $(".check-all").prop("checked", true);
                }
            });
        });
    })
</script>
</body>
</html>
