<header id="header" class="main-header">
<!-- Logo -->
<a href="javascript:;" class="logo">
    <!-- 迷你模式下Logo的大小为50X50 -->
    <span class="logo-mini">POKER</span>
    <!-- 普通模式下Logo -->
    <!-- <span class="logo-lg"><b>Fast</b>Admin</span> -->
</a>
<!-- 顶部通栏样式 -->
<nav class="navbar navbar-static-top">
    <!-- 边栏切换按钮-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="/qwadmin2/index.php/Qwadmin/Index/index" target="" class="hd-a"><i class="fa fa-home " style="font-size:14px;"></i></a>
            </li>
            <li class="dropdown notifications-menu">
            </li>
            <li class="dropdown messages-menu github-commits">
                <ul class="dropdown-menu">
                    <li class="header">Recent commits</li>
                    <li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="wipecache" id="wipecache" title="清空缓存">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
            <!-- <li class="hidden-xs">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                <ul class="dropdown-menu">
                    <li class="active">
                        <a href="?ref=addtabs&amp;lang=zh-cn">简体中文</a>
                    </li>
                    <li class="">
                        <a href="?ref=addtabs&amp;lang=en">English</a>
                    </li>
                </ul>
            </li> -->
            <li class="hidden-xs">
                <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a>
            </li>
            <!-- 账号信息下拉框 -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="__PUBLIC__/qwadmin/images/avatar.png" class="user-image" alt="Admin">
                    <span class="hidden-xs">Admin</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="__PUBLIC__/qwadmin/images/avatar.png" class="img-circle" alt="">
                        <p>
                            Admin <small>2017-07-04 09:13:25</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="/qwadmin2/index.php/Qwadmin/general/profile" class="btn btn-default btn-flat addtabsit hd-a">个人资料</a>
                        </div>
                        <div class="pull-right">
                            <a href="/qwadmin2/index.php/Qwadmin/index/logout" class="btn btn-default btn-flat hd-a">注销</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- 控制栏切换按钮 -->
            <li>
                <a href="javascript:;" data-toggle="control-sidebar">
                    <i class="fa fa-gears"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
</header>
<script src="__PUBLIC__/qwadmin/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $("#wipecache").click(function(){
        $.post("{:U('Cache/clear')}", function(data){   
           if (data.status == 1) {
                alert(data.info);
                window.location.reload();
            }else {
                alert(data.info);
                return false;
            }
        });
        return false;
    });

    //切换左侧sidebar显示隐藏
    $(document).on("click fa.event.toggleitem", ".sidebar-menu li > a", function (e) {
        $(".sidebar-menu li").removeClass("active");
        //当外部触发隐藏的a时,触发父辈a的事件
        if (!$(this).closest("ul").is(":visible")) {
            //如果不需要左侧的菜单栏联动可以注释下面一行即可
            $(this).closest("ul").prev().trigger("click");
        }

        var visible = $(this).next("ul").is(":visible");
        if (!visible) {
            $(this).parents("li").addClass("active");
        } else {
        }
        e.stopPropagation();
    });

    $(".sidebar-toggle").click(function(){
        var flag = $(".sidebar").css('display');
        if (flag == 'none') {
            $(".sidebar").css('display', 'block');
            $(".bootstrap-table").css('left', 240);
        } else {
            $(".sidebar").css('display', 'none');
            $(".bootstrap-table").css('left', 10);
        }
    });


    //全屏事件
    $(document).on('click', "[data-toggle='fullscreen']", function () {
        var doc = document.documentElement;
        if ($(document.body).hasClass("full-screen")) {
            $(document.body).removeClass("full-screen");
            document.exitFullscreen ? document.exitFullscreen() : document.mozCancelFullScreen ? document.mozCancelFullScreen() : document.webkitExitFullscreen && document.webkitExitFullscreen();
        } else {
            $(document.body).addClass("full-screen");
            doc.requestFullscreen ? doc.requestFullscreen() : doc.mozRequestFullScreen ? doc.mozRequestFullScreen() : doc.webkitRequestFullscreen ? doc.webkitRequestFullscreen() : doc.msRequestFullscreen && doc.msRequestFullscreen();
        }
    });
</script>
