<section class="sidebar" style="height: 898px; overflow: hidden; width: 230px;background: #222f32">
    <!-- Sidebar user panel -->
    <div class="user-panel hidden-xs">
        <div class="pull-left image">
            <a href="general/profile" class="addtabsit"><img src="/fastadmin2/public/assets/img/avatar.png" class="img-circle"></a>
        </div>
        <div class="pull-left info">
            <p>Admin</p>
            <i class="fa fa-circle text-success"></i> 在线        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form hidden-xs" style="overflow:visible;border:none;">
        <select class="form-control fastmenujump btn">
            <option value="">Shortcut</option>
        <!-- <option value="/fastadmin2/public/index.php/admin/general/config">系统配置</option> -->
        </select>
    </form>
  
    <!--如果想始终显示子菜单,则给ul加上show-submenu类即可-->
    <ul class="sidebar-menu submenu">
       <volist name="menu" id="v">
            <li class="treeview" id="{$v.id}">
                <a href="javascript:;" addtabs="{$v.id}" url="javascript:;">
                    <i class="{$v.icon}"></i> 
                    <span>{$v.title}</span> 
                </a> 
                <ul class="treeview-menu">
                    <volist name="v.children" id="vv">
                        <li class="" value="{:U($vv['name'])}">
                            <a href="#">
                                <i class="{$vv.icon}"></i> 
                                <span>{$vv.title}</span> 
                            </a> 
                        </li>
                    </volist>
                </ul>
            </li>
        </volist>
    </ul>
</section>
<script>
    $(".treeview-menu li").each(function(i, obj){
        $(this).click(function(){
            $(this).siblings().removeClass('active');
            var url = $(this).attr('value');
            //选择退出登录时页面直接跳转至登录界面
            var Request = new Object();
            Request = GetRequest(url);
            var Con = Request['c'];
            var Act= Request['a'];
            if(Con === 'Logout' && Act === 'index') {
                window.location = '{:U('Logout/index')}';
            } else {
                $("#resultframe").attr('src', url);
            }
        });
    });
     //js 获取url中的参数
    function GetRequest(url) {
       var theRequest = new Object();
       if (url.indexOf("?") != -1) {
          var str = url.substr(1);
          strs = str.split("&");
          for(var i = 0; i < strs.length; i ++) {
             theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
          }
       }
       return theRequest;
    }

</script>
