
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <title>扑克部落</title>        
        <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/my.css?t=aa">
        <link rel="stylesheet" href="__PUBLIC__/home/css/showBo.css">
        <script src="__PUBLIC__/home/js/showBo.js"></script>
        <script src="__PUBLIC__/home/js/jquery-1.11.3.min.js"></script>
        <style>
        /********************修改placeholder的固定颜色****************************/
            #hh:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #b69f60; 
                opacity:0.6
            }
            #hh::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #b69f60;
                opacity:0.6
            }
            #hh:-ms-input-placeholder,
                textarea:-ms-input-placeholder {
                color: #b69f60;
                opacity:0.6
            }
            #hh::-webkit-input-placeholder,
                textarea::-webkit-input-placeholder {
                color:#b69f60;
                opacity:0.6
            }
            #open4:focus{
                outline: 0;
            }
            input[type="radio"] {
              display: none;
            }
            #login_table .a1 {
              padding-right: 30px;
              cursor: pointer;
              background: url(__PUBLIC__/home/images/others.png) no-repeat right bottom;
            }
            #login_table #checked {
              padding-right: 30px;
              cursor: pointer;
              background: url(__PUBLIC__/home/images/others.png) no-repeat right top !important;

            }
            .main{
                min-height: 100%;
            }

        </style>

    </head> 
    <script type="text/javascript">
        
    </script>
    <body style="background-color:#ECEDF2;">
    <div class="main">
        <section id="mama" >
            <div class="container2">
                <div id="two1" >
                    <volist name="goods" id="good">
                    
                    <div class="line1">
                        <div class="container">
                            <div class="row" >
                                <!--<div class=" col-md-6 col-sm-6 col-xs-12">-->
                                   
                                    <table id="login_table" align="center">
                                        <tr class="login2">
                                            <td class="login2_u1" >
                                                <img src="__PUBLIC__/home/images/my4.png" class="img-responsive">
                                                <span class="dia" >{$good['diamond']}</span>   
                                            </td>
                                            <td class="login_u2" align="right">
                                                <input class="radio1" name="good_id" type="radio" id="{$good['id']}" value="{$good['id']}" onclick="price({$good['price']})"/>
                                                <div class="a1" name="{$good['id']}" value="{$good['price']}">&yen;{$good['price']}</div>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                        </div>
                        <div class="kong"></div>
                    </div>
                   
                    </volist>
                </div>
             </div>   
        </section>
   
        <div class="container zui">
            <div class="row">
                <div class=" col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div id="check">
                            <table id="login_table" align="center">
                                <tr class="login2">
                                    <td class="login2_u1" >
                                         
                                          <span class="select-style"><select name="ccode" > <volist name="stateCode" id="v"><option value="{$v}" align="right" style="height:0.8rem !important">+{$v}</option></volist></select></span>
                                        
                                    </td>
                                    <!--<td style="width:1%;height: 2rem"><span style="font-size:2rem;color:#AACBD4;line-height:2rem" id="line0">|</span></td>-->
                                    <td style="width:1%;height: 2rem"><span id="line0">|</span></td>
                                    <td class="login_u2">
                                        <input name="username" id="username" type="text" placeholder="  请输入手机号" style="line-height: 3.2rem !important;" value="">

                                    </td>
                                    <td>
                                        <img src="__PUBLIC__/home/images/clear.png" class="img-responsive clear-button" id="clear" >
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group hml" id="change">
                        <table id="login_table" align="center">
                                <tr class="login2">
                                    <td class="login2_u1" align="center" colspan="2">
                                         <img src="__PUBLIC__/home/images/others6.png" class="img-responsive ios" id="open5" onclick="sel_ios(this)" style="margin-right: 10%">
                                         <img src="__PUBLIC__/home/images/others9.png" class="img-responsive android" id="open5" onclick="sel_android(this)" style="margin-left: 10%"> 
                                    </td>
                                    <input type="hidden" name="os" value="" id="os">
                                </tr>
                            </table>
                    </div>

                    <table id="login_table2" align="center">
                        <tr class="form-group" id="change">
                            <td align="center" colspan="2">
                                <input type="hidden" name="price" value="" id="price">
                                <a href="#"><input class="btn btn-success up yanzheng" type="button" value="验证并充值" id="open4"/></a>
                            </td>
                        </tr>
                    </table>

                </div> 
            </div>
        </div>
    </div>
    <include file="Public/footer" />

    </body>
    <script src="__PUBLIC__/home/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/home/js/layer/layer.js"></script>

     <script>
        function sel_ios(obj){
            $(obj).attr("src","__PUBLIC__/home/images/others7.png")
            $(obj).siblings().attr("src","__PUBLIC__/home/images/others9.png");
            $("input[name='os']").attr('value', '0'); 
        }
        function sel_android(obj){
            $(obj).attr("src","__PUBLIC__/home/images/others8.png")
            $(obj).siblings().attr("src","__PUBLIC__/home/images/others6.png");
            $("input[name='os']").attr('value', '1'); 
        }
        //点击清空手机号文本框
        $('.clear-button').click(function(){
            $('#username').val('');
        });

        $(function() {
            $('.a1').eq(0).attr('id', 'checked');
        });

        $('.a1').click(function(){
            var radioId = $(this).attr('name'); 
            $('.a1').removeAttr('id') && $(this).attr('id', 'checked');
            $('input[type="radio"]').removeAttr('checked') && $('#' + radioId).attr('checked', 'checked');
            
        });
        $("input[name='username']").click(function(){
            $('.footer').hide();
        });

        
        $('#open4').click(function() {
            $(".a1").each(function(i, obj){
                if ($(this).attr('id') == 'checked') {
                    price = $(this).attr('value');
                }
            });

            username = $("input[name='username']").val();
            os = $("input[name='os']").val();
            if(username.length == 0){
                Showbo.Msg.alert('请输入需要充值的账号');
                return false;
            }
            if(os.length == 0){
                Showbo.Msg.alert('请选择账号登录平台');
                return false;
            }
            var loading_layer = layer.load(1, {
              shade: [0.2,'#fff'] //0.1透明度的白色背景
            });
            $.ajax({
                url: '{:U('Friend/getFriendInfo')}',
                type: 'POST',
                dataType: 'json',
                data: {username: username, os: os},
            })
            .success(function(req) {
                layer.close(loading_layer);
                if(req.status == 1){
                    var uid = req.data.id;
                    var username = req.data.username;
                    var nickname = req.data.nickname;
                    var os = req.data.os;
                    var uuid = req.data.uuid;
           
                    verify(uid, username, nickname, os, uuid, price);
                }else{
                   
                    Showbo.Msg.alert('该账号不存在');
                }
            })
            .fail(function() {
                layer.close(loading_layer);
                Showbo.Msg.alert('验证失败，请重试！');
            }) 
        });

        //点击输入账号，隐藏底部菜单栏
        $("input[name='username']").blur(function(){
            if ($("input[name='username']").val() != '') {
                $("#open4").blur(function(){
                    $('.footer').show();
                });
                $("#clear").click(function(){
                    $('.footer').show();
                });
            } else {
                 $('.footer').show();
            }

        });
        

        function verify(uid, username, nickname, os, uuid, price) { 
            if (uid != ''){ 
                var str= '<table style="text-align:center;width:100%"><tr style="line-height:3rem;" ><td colspan="2"></td><tr style="line-height:3rem;" ><td style="width:30%;line-height:3rem;font-size:16px;" align="right">昵 称 : </td>'+
                    '<td style="width:60%;line-height:3rem;left:2rem;float:left; font-size:16px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;'+nickname+'</td></tr>'+
                    '<tr style="line-height:3rem;"><td style="width:30%;line-height:3rem;font-size:16px;" align="right">ID : </td>'+
                    '<td style="width:60%;line-height:3rem;left:2rem;float:left;font-size:16px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;'+uuid+'</td></tr>'+
                    '<tr style="line-height:3rem;"><td style="width:30%;line-height:3rem;font-size:16px;" align="right">金 额 : </td>'+
                    '<td style="width:60%;line-height:3rem;font-size:16px;margin-left:2rem" align="left">&nbsp;&nbsp;&nbsp;&nbsp;'+price+'</td></tr>'+
                    '<tr align="center" style="line-height:3rem;"><td style="width:30%;line-height:3rem;font-size:16px;" align="right"></td>'+
                    '<td style="width:60%;line-height:3rem;left:2rem;float:left;font-size:16px;">确定充值？</td></tr></table>';

                Showbo.Msg.confirm(str);
                $(".btn2").click(function(){
                    var flag = $(this).val();
                    if (flag == '确认') { 
                        recharge(uid, username, nickname, os, uuid, price);
                    } 
                }

                );
            } else {
                Showbo.Msg.alert('该账号不存在');
                return false;
            }
        }

        function recharge(uid, username, nickname, os, uuid, price) {
            good_id = $("input[name='good_id']").val();
            if(good_id.length == 0){
                alert('请选择商品！');
                return false;
            }
    
            var loading_layer = layer.load(1, {
              shade: [0.2,'#fff'] //0.1透明度的白色背景
            });

            if (good_id < 3001) { //alert('{:U('Pay/friendOrder')}');
                $.ajax({
                    url: '{:U('Pay/friendOrder')}',
                    type: 'POST',
                    dataType: 'json',
                    data: {uid: uid, username: username, os: os, good_id: good_id},
                })
                .success(function(req) {
                    layer.close(loading_layer);
                    if(req.status == 0){
                        alert(req.data);
                        return false;
                    }else{
                        onBridgeReady(req.data);
                        console.log("success");
                    }
                })
                .fail(function() {
                    layer.close(loading_layer);
                    console.log("error");
                })
            } else {
                $.ajax({
                    url: '{:U('Pay/friendVipOrder')}',
                    type: 'POST',
                    dataType: 'json',
                    data: {uid: uid, username: username, os: os, good_id: good_id},
                })
                .success(function(req) {
                    layer.close(loading_layer);
                    if(req.status == 0){
                        alert(req.data);
                        return false;
                    }else{
                        onBridgeReady(req.data);
                        console.log("success");
                    }
                })
                .fail(function() {
                    layer.close(loading_layer);
                    console.log("error");
                })
            }
        }
            
        //});

        function onBridgeReady(data){
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', data,
                function(res){     
                   if(res.err_msg == "get_brand_wcpay_request：ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
               }
            ); 
        }
    </script>

    <script>

    $("#aa").click(function(){
        var span=document.getElementById("number");
        n=parseInt(span.innerHTML);
            if(n==1){
                n-=0;
            }else{
                n--;
            }
        span.innerHTML=n;
        //return n;
        if($('.chosed')[0]){
            var index=$('.chosed').index();
            console.log(index);
            $("#total").html( arr[index]*n);   
        }
    });
    </script>

</html>