<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <title>扑克部落</title>        
        <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/my.css">
        <style>
        </style>
    </head>
    <body style="background-color:#ECEDF2;">
    <!--头部分-->
    <volist name="month" id="vo">
        <div class="order1">{$vo.month}</div>
        <section id="tou">
            <volist name="orders" id="v"> 
                <div class="container2">
                    <div class="row">
                        
                        <div class="col-1"><span class="tou5_1">{$v['w']}<br/>{$v['rq']}</span></div>
                        <div class="col-2">
                            <img src="{$v['avatar']}" class="img-responsive" id="own7_1">
                            <img  class="img-responsive" id="own11">
                        </div>
                        <div class="col-3">
                            <span class="tou5_2">{$v['nickname']}<br/></span>
                             <span class="tou5_1">账号:{$v['username']}</span>
                        </div>
                       
                        <div class=" col-5">
                                <div style="float: left"><img src="__PUBLIC__/home/images/my4.png" class="img-responsive"></div>
                                <span class="tou5">{$v['diamond']}</span>
                        </div>
                        <div class=" col-6">
                            <span class="tou5">&yen;{$v['money'] }</span>
                        </div>
                    </div>
                </div>
                <div class="kong"></div>
            </volist>
                <div class="kong"></div>
        </section>
     </volist>

    <tr  >
        <td colspan="3" bgcolor="#FFFFFF">
            <div class="pages"  style="bottom:6%;position: absolute;text-align: center;width:100%">
            {$page}
            </div>
        </td>  
    </tr>
    <include file="Public/footer" />

    </body>
    <script src="__PUBLIC__/home/js/jquery-1.11.3.min.js"></script> 
    <script>
    var oDiv = document.getElementById('three');
        oDiv.style.position = 'fixed';
        oDiv.style.bottom = '0px';
        
    </script>
</html>