<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <title>扑克部落</title>        
        <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/my.css">
        <link rel="stylesheet" href="__PUBLIC__/home/css/showBo.css">
        <style>
        </style>
    </head>
    <body style="background-color:#ECEDF2;">
    <if condition="$num eq 0">
        <img src="__PUBLIC__/home/images/nolist.png" class="img-responsive" id="nolist">
    <else />
        <!--头部分-->
        <!-- <volist name="month" id="vo"> -->
            <div class="order1">{$month}</div>
            <volist name="orders" id="v"> 
                <table id="tou" align="center" >
                    <tr class="container2">
                        <td class="col-1" >
                            <span class="tou5_1">{$v['w']}<br/>{$v['rq']}</span>
                        </td>
                        <td class="col-2" align="left">
                            <img src="{$v['avatar']}" class="img-responsive" id="own7_1"><img  class="img-responsive" id="own11">
                        </td>
                        <td class="col-3" align="left">
                            <span class="tou5_2">{$v['nickname']}<br/></span><span class="tou5_1">账号:{$v['username']}</span>
                        </td>
                        <td class="col-5" align="left">
                            <div style="float: left"><img src="__PUBLIC__/home/images/my4.png" class="img-responsive" style="width: 5rem"></div><span class="tou5" style="float: left;vertical-align: middle;">{$v['diamond']}</span>
                        </td>
                        <td class="col-6" align="left">
                            <span class="tou5" style="float: left;vertical-align: middle;">&yen;{$v['money'] }</span>
                        </td>
                    </tr>
                </table>
                <div class="kong"></div>
            <!-- </volist> -->
            <div class="kong"></div>

         </volist>

        <tr  >
            <td colspan="3" bgcolor="#FFFFFF">
                <div class="pages"  style="bottom:6%;position: absolute;text-align: center;width:100%">
                {$page}
                </div>
            </td>  
        </tr>
    </if>
    <include file="Public/footer" />

    </body>
    <script src="__PUBLIC__/home/js/jquery-1.11.3.min.js"></script> 
    <script>
    var oDiv = document.getElementById('three');
        oDiv.style.position = 'fixed';
        oDiv.style.bottom = '0px';
        
    </script>
</html>