<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>areaCode</key>
		<string>86</string>
		<key>countryFTName</key>
		<string>中國</string>
		<key>countryName</key>
		<string>中国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>852</string>
		<key>countryFTName</key>
		<string>香港(中國)</string>
		<key>countryName</key>
		<string>香港(中国)</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>853</string>
		<key>countryFTName</key>
		<string>澳門(中國)</string>
		<key>countryName</key>
		<string>澳门(中国)</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>886</string>
		<key>countryFTName</key>
		<string>臺灣</string>
		<key>countryName</key>
		<string>台湾</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>65</string>
		<key>countryFTName</key>
		<string>新加坡</string>
		<key>countryName</key>
		<string>新加坡</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>61</string>
		<key>countryFTName</key>
		<string>澳大利亞</string>
		<key>countryName</key>
		<string>澳大利亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>64</string>
		<key>countryFTName</key>
		<string>紐西蘭</string>
		<key>countryName</key>
		<string>新西兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>81</string>
		<key>countryFTName</key>
		<string>日本</string>
		<key>countryName</key>
		<string>日本</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>82</string>
		<key>countryFTName</key>
		<string>韓國</string>
		<key>countryName</key>
		<string>韩国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>355</string>
		<key>countryFTName</key>
		<string>阿爾巴尼亞</string>
		<key>countryName</key>
		<string>阿尔巴尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>213</string>
		<key>countryFTName</key>
		<string>阿爾及利亞</string>
		<key>countryName</key>
		<string>阿尔及利亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>93</string>
		<key>countryFTName</key>
		<string>阿富汗</string>
		<key>countryName</key>
		<string>阿富汗</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>54</string>
		<key>countryFTName</key>
		<string>阿根廷</string>
		<key>countryName</key>
		<string>阿根廷</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>353</string>
		<key>countryFTName</key>
		<string>愛爾蘭(島)</string>
		<key>countryName</key>
		<string>爱尔兰(岛)</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>20</string>
		<key>countryFTName</key>
		<string>埃及</string>
		<key>countryName</key>
		<string>埃及</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>251</string>
		<key>countryFTName</key>
		<string>衣索比亞</string>
		<key>countryName</key>
		<string>埃塞俄比亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>372</string>
		<key>countryFTName</key>
		<string>愛沙尼亞</string>
		<key>countryName</key>
		<string>爱沙尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>971</string>
		<key>countryFTName</key>
		<string>阿聯酋</string>
		<key>countryName</key>
		<string>阿联酋</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>297</string>
		<key>countryFTName</key>
		<string>阿魯巴</string>
		<key>countryName</key>
		<string>阿鲁巴</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>968</string>
		<key>countryFTName</key>
		<string>阿曼</string>
		<key>countryName</key>
		<string>阿曼</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>376</string>
		<key>countryFTName</key>
		<string>安道爾共和國</string>
		<key>countryName</key>
		<string>安道尔共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>244</string>
		<key>countryFTName</key>
		<string>安哥拉</string>
		<key>countryName</key>
		<string>安哥拉</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1264</string>
		<key>countryFTName</key>
		<string>安圭拉島</string>
		<key>countryName</key>
		<string>安圭拉岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>268</string>
		<key>countryFTName</key>
		<string>安提瓜及巴布達</string>
		<key>countryName</key>
		<string>安提瓜及巴布达</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>43</string>
		<key>countryFTName</key>
		<string>奧地利</string>
		<key>countryName</key>
		<string>奥地利</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>994</string>
		<key>countryFTName</key>
		<string>亞塞拜然</string>
		<key>countryName</key>
		<string>阿塞拜疆</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>54</string>
		<key>countryFTName</key>
		<string>阿根延</string>
		<key>countryName</key>
		<string>阿根延</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>972</string>
		<key>countryFTName</key>
		<string>阿拉伯聯合大公國</string>
		<key>countryName</key>
		<string>阿拉伯联合酋长国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>968</string>
		<key>countryFTName</key>
		<string>阿拉伯葉門共和國</string>
		<key>countryName</key>
		<string>阿拉伯也门共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1907</string>
		<key>countryFTName</key>
		<string>阿拉斯加</string>
		<key>countryName</key>
		<string>阿拉斯加</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>297</string>
		<key>countryFTName</key>
		<string>阿魯巴島</string>
		<key>countryName</key>
		<string>阿鲁巴岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>247</string>
		<key>countryFTName</key>
		<string>阿森松</string>
		<key>countryName</key>
		<string>阿森松</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>353</string>
		<key>countryFTName</key>
		<string>愛爾蘭</string>
		<key>countryName</key>
		<string>爱尔兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>33628</string>
		<key>countryFTName</key>
		<string>安道爾</string>
		<key>countryName</key>
		<string>安道尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>安地卡及巴布達</string>
		<key>countryName</key>
		<string>安提瓜和巴布达 </string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1246</string>
		<key>countryFTName</key>
		<string>巴貝多</string>
		<key>countryName</key>
		<string>巴巴多斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>675</string>
		<key>countryFTName</key>
		<string>巴布亞紐幾內亞</string>
		<key>countryName</key>
		<string>巴布亚新几内亚 </string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1242</string>
		<key>countryFTName</key>
		<string>巴哈馬</string>
		<key>countryName</key>
		<string>巴哈马</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>375</string>
		<key>countryFTName</key>
		<string>白俄羅斯</string>
		<key>countryName</key>
		<string>白俄罗斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>441</string>
		<key>countryFTName</key>
		<string>百慕大</string>
		<key>countryName</key>
		<string>百慕大</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>92</string>
		<key>countryFTName</key>
		<string>巴基斯坦</string>
		<key>countryName</key>
		<string>巴基斯坦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>973</string>
		<key>countryFTName</key>
		<string>巴林</string>
		<key>countryName</key>
		<string>巴林</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>507</string>
		<key>countryFTName</key>
		<string>巴拿馬</string>
		<key>countryName</key>
		<string>巴拿马</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>359</string>
		<key>countryFTName</key>
		<string>保加利亞</string>
		<key>countryName</key>
		<string>保加利亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1670</string>
		<key>countryFTName</key>
		<string> 北馬里亞那群島</string>
		<key>countryName</key>
		<string>北马里亚那群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>229</string>
		<key>countryFTName</key>
		<string>貝南</string>
		<key>countryName</key>
		<string>贝宁</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>32</string>
		<key>countryFTName</key>
		<string>比利時</string>
		<key>countryName</key>
		<string>比利时</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>354</string>
		<key>countryFTName</key>
		<string>冰島</string>
		<key>countryName</key>
		<string>冰岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1787</string>
		<key>countryFTName</key>
		<string>波多黎各</string>
		<key>countryName</key>
		<string>波多黎各</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>48</string>
		<key>countryFTName</key>
		<string>波蘭</string>
		<key>countryName</key>
		<string>波兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>591</string>
		<key>countryFTName</key>
		<string>玻利維亞</string>
		<key>countryName</key>
		<string>玻利维亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>501</string>
		<key>countryFTName</key>
		<string>貝里斯</string>
		<key>countryName</key>
		<string>伯利兹</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>599</string>
		<key>countryFTName</key>
		<string>博內爾島</string>
		<key>countryName</key>
		<string>博内尔岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>387</string>
		<key>countryFTName</key>
		<string>波士尼亞赫塞哥維納</string>
		<key>countryName</key>
		<string>波斯尼亚和黑塞哥维那</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>267</string>
		<key>countryFTName</key>
		<string>博茨瓦那</string>
		<key>countryName</key>
		<string>博茨瓦那</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>975</string>
		<key>countryFTName</key>
		<string>不丹</string>
		<key>countryName</key>
		<string>不丹</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>226</string>
		<key>countryFTName</key>
		<string>布吉納法索國</string>
		<key>countryName</key>
		<string>布基纳法索国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>257</string>
		<key>countryFTName</key>
		<string>布隆迪</string>
		<key>countryName</key>
		<string>布隆迪</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>92</string>
		<key>countryFTName</key>
		<string>巴基期坦</string>
		<key>countryName</key>
		<string>巴基期坦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>55</string>
		<key>countryFTName</key>
		<string>巴西</string>
		<key>countryName</key>
		<string>巴西</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>百慕大群島</string>
		<key>countryName</key>
		<string>百慕大群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>267</string>
		<key>countryFTName</key>
		<string>波札那</string>
		<key>countryName</key>
		<string>博茨瓦纳</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>226</string>
		<key>countryFTName</key>
		<string>布吉納法索</string>
		<key>countryName</key>
		<string>布基纳法索</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>850</string>
		<key>countryFTName</key>
		<string>朝鮮</string>
		<key>countryName</key>
		<string>朝鲜</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>240</string>
		<key>countryFTName</key>
		<string>赤道幾內亞</string>
		<key>countryName</key>
		<string>赤道几内亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>45</string>
		<key>countryFTName</key>
		<string>丹麥</string>
		<key>countryName</key>
		<string>丹麦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>49</string>
		<key>countryFTName</key>
		<string>德國</string>
		<key>countryName</key>
		<string>德国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>670</string>
		<key>countryFTName</key>
		<string>東帝汶</string>
		<key>countryName</key>
		<string>东帝汶</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>228</string>
		<key>countryFTName</key>
		<string>多哥</string>
		<key>countryName</key>
		<string>多哥</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1849</string>
		<key>countryFTName</key>
		<string>多明尼加共和國</string>
		<key>countryName</key>
		<string>多明尼加共和国 </string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1767</string>
		<key>countryFTName</key>
		<string>多明尼克</string>
		<key>countryName</key>
		<string>多米尼克</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>684</string>
		<key>countryFTName</key>
		<string>東薩摩亞</string>
		<key>countryName</key>
		<string>东萨摩亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>多明尼加共和國</string>
		<key>countryName</key>
		<string>多米尼加共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>593</string>
		<key>countryFTName</key>
		<string>厄瓜多爾</string>
		<key>countryName</key>
		<string>厄瓜多尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>291</string>
		<key>countryFTName</key>
		<string>厄立特里亞國</string>
		<key>countryName</key>
		<string>厄立特里亚国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>7</string>
		<key>countryFTName</key>
		<string>俄羅斯</string>
		<key>countryName</key>
		<string>俄罗斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>33</string>
		<key>countryFTName</key>
		<string>法國</string>
		<key>countryName</key>
		<string>法国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>298</string>
		<key>countryFTName</key>
		<string>法羅群島</string>
		<key>countryName</key>
		<string>法罗群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>379</string>
		<key>countryFTName</key>
		<string>梵蒂岡</string>
		<key>countryName</key>
		<string>梵蒂冈</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>689</string>
		<key>countryFTName</key>
		<string>法屬波利尼西亞</string>
		<key>countryName</key>
		<string>法属波利尼西亚 </string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>594</string>
		<key>countryFTName</key>
		<string>法屬圭亞那</string>
		<key>countryName</key>
		<string>法属圭亚那</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>809</string>
		<key>countryFTName</key>
		<string> 法屬西印度群島</string>
		<key>countryName</key>
		<string>法属西印度群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>679</string>
		<key>countryFTName</key>
		<string>斐濟</string>
		<key>countryName</key>
		<string>斐济</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>63</string>
		<key>countryFTName</key>
		<string>菲律賓</string>
		<key>countryName</key>
		<string>菲律宾</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>358</string>
		<key>countryFTName</key>
		<string>芬蘭</string>
		<key>countryName</key>
		<string>芬兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>681</string>
		<key>countryFTName</key>
		<string>富圖納群島</string>
		<key>countryName</key>
		<string>富图纳群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>48</string>
		<key>countryFTName</key>
		<string>法蘭</string>
		<key>countryName</key>
		<string>法兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>689</string>
		<key>countryFTName</key>
		<string>法屬波里尼西亞</string>
		<key>countryName</key>
		<string>法属波里尼西亚 </string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>738</string>
		<key>countryFTName</key>
		<string>維德角福克蘭群島</string>
		<key>countryName</key>
		<string>佛得角福克兰群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>220</string>
		<key>countryFTName</key>
		<string>甘比亞</string>
		<key>countryName</key>
		<string>冈比亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>242</string>
		<key>countryFTName</key>
		<string>剛果</string>
		<key>countryName</key>
		<string>刚果</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>243</string>
		<key>countryFTName</key>
		<string> 剛果民主共和國</string>
		<key>countryName</key>
		<string>刚果民主共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>44</string>
		<key>countryFTName</key>
		<string>格恩西島</string>
		<key>countryName</key>
		<string>格恩西岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>299</string>
		<key>countryFTName</key>
		<string>格陵蘭島</string>
		<key>countryName</key>
		<string>格陵兰岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1473</string>
		<key>countryFTName</key>
		<string>格瑞那達</string>
		<key>countryName</key>
		<string>格林纳达</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>995</string>
		<key>countryFTName</key>
		<string>格魯吉亞</string>
		<key>countryName</key>
		<string>格鲁吉亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>506</string>
		<key>countryFTName</key>
		<string>哥斯大黎加</string>
		<key>countryName</key>
		<string>哥斯达黎加</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>890</string>
		<key>countryFTName</key>
		<string>瓜德羅普島</string>
		<key>countryName</key>
		<string>瓜德罗普岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1671</string>
		<key>countryFTName</key>
		<string>關島</string>
		<key>countryName</key>
		<string>关岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>53</string>
		<key>countryFTName</key>
		<string>古巴</string>
		<key>countryName</key>
		<string>古巴</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>592</string>
		<key>countryFTName</key>
		<string>圭亞那</string>
		<key>countryName</key>
		<string>圭亚那</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>57</string>
		<key>countryFTName</key>
		<string>哥倫比亞</string>
		<key>countryName</key>
		<string>哥伦比亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>509</string>
		<key>countryFTName</key>
		<string>海地</string>
		<key>countryName</key>
		<string>海地</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>327</string>
		<key>countryFTName</key>
		<string>哈薩克</string>
		<key>countryName</key>
		<string>哈萨克斯坦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>382</string>
		<key>countryFTName</key>
		<string>黑山共和國</string>
		<key>countryName</key>
		<string>黑山共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>31</string>
		<key>countryFTName</key>
		<string>荷蘭</string>
		<key>countryName</key>
		<string>荷兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>504</string>
		<key>countryFTName</key>
		<string>洪都拉斯</string>
		<key>countryName</key>
		<string>洪都拉斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>599</string>
		<key>countryFTName</key>
		<string>荷屬安的列斯群島</string>
		<key>countryName</key>
		<string>荷属安的列斯群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>233</string>
		<key>countryFTName</key>
		<string>迦納</string>
		<key>countryName</key>
		<string>加纳</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1</string>
		<key>countryFTName</key>
		<string>加拿大</string>
		<key>countryName</key>
		<string>加拿大</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>855</string>
		<key>countryFTName</key>
		<string>柬埔寨</string>
		<key>countryName</key>
		<string>柬埔寨</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>241</string>
		<key>countryFTName</key>
		<string>加蓬</string>
		<key>countryName</key>
		<string>加蓬</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>253</string>
		<key>countryFTName</key>
		<string>吉布地</string>
		<key>countryName</key>
		<string>吉布提</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>420</string>
		<key>countryFTName</key>
		<string>捷克共和國</string>
		<key>countryName</key>
		<string>捷克共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>331</string>
		<key>countryFTName</key>
		<string>吉爾吉斯斯坦</string>
		<key>countryName</key>
		<string>吉尔吉斯斯坦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>263</string>
		<key>countryFTName</key>
		<string>辛巴威</string>
		<key>countryName</key>
		<string>津巴布韦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>224</string>
		<key>countryFTName</key>
		<string>幾內亞</string>
		<key>countryName</key>
		<string>几内亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>245</string>
		<key>countryFTName</key>
		<string>畿尼</string>
		<key>countryName</key>
		<string>畿尼</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>686</string>
		<key>countryFTName</key>
		<string>吉里巴斯</string>
		<key>countryName</key>
		<string>基里巴斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>245</string>
		<key>countryFTName</key>
		<string>幾內亞比索</string>
		<key>countryName</key>
		<string>几内亚比绍</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>3422</string>
		<key>countryFTName</key>
		<string>加那利群島</string>
		<key>countryName</key>
		<string>加那利群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1345</string>
		<key>countryFTName</key>
		<string>開曼群島</string>
		<key>countryName</key>
		<string>开曼群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>237</string>
		<key>countryFTName</key>
		<string>喀麥隆</string>
		<key>countryName</key>
		<string>喀麦隆</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>974</string>
		<key>countryFTName</key>
		<string>卡達</string>
		<key>countryName</key>
		<string>卡塔尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>385</string>
		<key>countryFTName</key>
		<string> 克羅埃西亞共和國</string>
		<key>countryName</key>
		<string>克罗地亚共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>269</string>
		<key>countryFTName</key>
		<string>科摩洛</string>
		<key>countryName</key>
		<string>科摩洛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>254</string>
		<key>countryFTName</key>
		<string>肯亞</string>
		<key>countryName</key>
		<string>肯尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>965</string>
		<key>countryFTName</key>
		<string>科威特</string>
		<key>countryName</key>
		<string>科威特</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>682</string>
		<key>countryFTName</key>
		<string>科克群島</string>
		<key>countryName</key>
		<string>库克群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>5999</string>
		<key>countryFTName</key>
		<string>庫拉索</string>
		<key>countryName</key>
		<string>库拉索</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>6722</string>
		<key>countryFTName</key>
		<string>科科斯島</string>
		<key>countryName</key>
		<string>科科斯岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>682</string>
		<key>countryFTName</key>
		<string>科克群島</string>
		<key>countryName</key>
		<string>科克群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>269</string>
		<key>countryFTName</key>
		<string>科摩羅</string>
		<key>countryName</key>
		<string>科摩罗</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>225</string>
		<key>countryFTName</key>
		<string>象牙海岸</string>
		<key>countryName</key>
		<string>科特迪瓦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>966</string>
		<key>countryFTName</key>
		<string>科威物</string>
		<key>countryName</key>
		<string>科威物</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>856</string>
		<key>countryFTName</key>
		<string>老撾</string>
		<key>countryName</key>
		<string>老挝</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>371</string>
		<key>countryFTName</key>
		<string>拉脫維亞</string>
		<key>countryName</key>
		<string>拉脱维亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>231</string>
		<key>countryFTName</key>
		<string>賴比瑞亞</string>
		<key>countryName</key>
		<string>利比里亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>218</string>
		<key>countryFTName</key>
		<string>利比亞</string>
		<key>countryName</key>
		<string>利比亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>423</string>
		<key>countryFTName</key>
		<string>列支敦士登</string>
		<key>countryName</key>
		<string>列支敦士登</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>370</string>
		<key>countryFTName</key>
		<string>立陶宛</string>
		<key>countryName</key>
		<string>立陶宛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>262</string>
		<key>countryFTName</key>
		<string>留尼旺</string>
		<key>countryName</key>
		<string>留尼旺</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>352</string>
		<key>countryFTName</key>
		<string>盧森堡</string>
		<key>countryName</key>
		<string>卢森堡</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>250</string>
		<key>countryFTName</key>
		<string>盧旺達</string>
		<key>countryName</key>
		<string>卢旺达</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>266</string>
		<key>countryFTName</key>
		<string>賴索托</string>
		<key>countryName</key>
		<string>莱索托</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>962</string>
		<key>countryFTName</key>
		<string>黎巴嫩</string>
		<key>countryName</key>
		<string>黎巴嫩</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>4175</string>
		<key>countryFTName</key>
		<string>列士敦士登</string>
		<key>countryName</key>
		<string>列士敦士登</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>262</string>
		<key>countryFTName</key>
		<string>留尼旺島</string>
		<key>countryName</key>
		<string>留尼旺岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>352</string>
		<key>countryFTName</key>
		<string>盧森保</string>
		<key>countryName</key>
		<string>卢森保</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>40</string>
		<key>countryFTName</key>
		<string>羅馬尼亞</string>
		<key>countryName</key>
		<string>罗马尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>261</string>
		<key>countryFTName</key>
		<string>馬達加斯加</string>
		<key>countryName</key>
		<string>马达加斯加</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>44</string>
		<key>countryFTName</key>
		<string>馬恩島</string>
		<key>countryName</key>
		<string>马恩岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>960</string>
		<key>countryFTName</key>
		<string>馬爾地夫</string>
		<key>countryName</key>
		<string>马尔代夫</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>356</string>
		<key>countryFTName</key>
		<string>馬爾他</string>
		<key>countryName</key>
		<string>马耳他</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>500</string>
		<key>countryFTName</key>
		<string>福克蘭群島</string>
		<key>countryName</key>
		<string>马尔维纳斯群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>265</string>
		<key>countryFTName</key>
		<string>馬拉威</string>
		<key>countryName</key>
		<string>马拉维</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>60</string>
		<key>countryFTName</key>
		<string>馬來西亞</string>
		<key>countryName</key>
		<string>马来西亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>223</string>
		<key>countryFTName</key>
		<string>馬里</string>
		<key>countryName</key>
		<string>马里</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>222</string>
		<key>countryFTName</key>
		<string>茅利塔尼亞</string>
		<key>countryName</key>
		<string>毛里塔尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>230</string>
		<key>countryFTName</key>
		<string>模里西斯</string>
		<key>countryName</key>
		<string>毛里求斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>389</string>
		<key>countryFTName</key>
		<string>馬其頓</string>
		<key>countryName</key>
		<string>马其顿</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>596</string>
		<key>countryFTName</key>
		<string>馬提尼克島</string>
		<key>countryName</key>
		<string>马提尼克岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>269</string>
		<key>countryFTName</key>
		<string>馬約特</string>
		<key>countryName</key>
		<string>马约特岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1</string>
		<key>countryFTName</key>
		<string>美國</string>
		<key>countryName</key>
		<string>美国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>684</string>
		<key>countryFTName</key>
		<string> 美屬薩摩亞群島</string>
		<key>countryName</key>
		<string>美属萨摩亚群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>976</string>
		<key>countryFTName</key>
		<string>蒙古</string>
		<key>countryName</key>
		<string>蒙古</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1664</string>
		<key>countryFTName</key>
		<string>蒙瑟拉特島</string>
		<key>countryName</key>
		<string>蒙特塞拉特</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>880</string>
		<key>countryFTName</key>
		<string>孟加拉共和國</string>
		<key>countryName</key>
		<string>孟加拉共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>691</string>
		<key>countryFTName</key>
		<string>密克羅尼西亞</string>
		<key>countryName</key>
		<string>密克罗尼西亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>373</string>
		<key>countryFTName</key>
		<string>莫爾達瓦</string>
		<key>countryName</key>
		<string>摩尔多瓦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>212</string>
		<key>countryFTName</key>
		<string>摩洛哥</string>
		<key>countryName</key>
		<string>摩洛哥</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>377</string>
		<key>countryFTName</key>
		<string>摩納哥公國 </string>
		<key>countryName</key>
		<string>摩纳哥公国 </string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>258</string>
		<key>countryFTName</key>
		<string>莫三比克</string>
		<key>countryName</key>
		<string>莫桑比克</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>52</string>
		<key>countryFTName</key>
		<string>墨西哥</string>
		<key>countryName</key>
		<string>墨西哥</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>670</string>
		<key>countryFTName</key>
		<string>馬利安納群島</string>
		<key>countryName</key>
		<string>马里亚纳群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>596</string>
		<key>countryFTName</key>
		<string>法屬馬丁尼克</string>
		<key>countryName</key>
		<string>马提尼克</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>蒙瑟拉特島島</string>
		<key>countryName</key>
		<string>蒙特塞拉特岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>880</string>
		<key>countryFTName</key>
		<string>孟加拉</string>
		<key>countryName</key>
		<string>孟加拉国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>51</string>
		<key>countryFTName</key>
		<string>秘魯</string>
		<key>countryName</key>
		<string>秘鲁</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>3393</string>
		<key>countryFTName</key>
		<string>摩納哥</string>
		<key>countryName</key>
		<string>摩纳哥</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>264</string>
		<key>countryFTName</key>
		<string>納米比亞</string>
		<key>countryName</key>
		<string>纳米比亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>27</string>
		<key>countryFTName</key>
		<string>南非</string>
		<key>countryName</key>
		<string>南非</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>211</string>
		<key>countryFTName</key>
		<string>南蘇丹</string>
		<key>countryName</key>
		<string>南苏丹</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>977</string>
		<key>countryFTName</key>
		<string>尼泊爾</string>
		<key>countryName</key>
		<string>尼泊尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>505</string>
		<key>countryFTName</key>
		<string>尼加拉瓜</string>
		<key>countryName</key>
		<string>尼加拉瓜</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>227</string>
		<key>countryFTName</key>
		<string>尼日爾</string>
		<key>countryName</key>
		<string>尼日尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>234</string>
		<key>countryFTName</key>
		<string>奈及利亞</string>
		<key>countryName</key>
		<string>尼日利亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>47</string>
		<key>countryFTName</key>
		<string>挪威</string>
		<key>countryName</key>
		<string>挪威</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>338</string>
		<key>countryFTName</key>
		<string>南斯拉夫</string>
		<key>countryName</key>
		<string>南斯拉夫</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>674</string>
		<key>countryFTName</key>
		<string>諾魯</string>
		<key>countryName</key>
		<string>瑙鲁</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>683</string>
		<key>countryFTName</key>
		<string>紐埃島</string>
		<key>countryName</key>
		<string>纽埃岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>6723</string>
		<key>countryFTName</key>
		<string>諾福克島</string>
		<key>countryName</key>
		<string>诺福克岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>680</string>
		<key>countryFTName</key>
		<string>帛琉</string>
		<key>countryName</key>
		<string>帕劳</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>351</string>
		<key>countryFTName</key>
		<string>葡萄牙</string>
		<key>countryName</key>
		<string>葡萄牙</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>46</string>
		<key>countryFTName</key>
		<string>瑞典</string>
		<key>countryName</key>
		<string>瑞典</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>41</string>
		<key>countryFTName</key>
		<string>瑞士</string>
		<key>countryName</key>
		<string>瑞士</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>503</string>
		<key>countryFTName</key>
		<string>薩爾瓦多</string>
		<key>countryName</key>
		<string>萨尔瓦多</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>381</string>
		<key>countryFTName</key>
		<string>塞爾維亞共和國</string>
		<key>countryName</key>
		<string>塞尔维亚共和国 </string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>232</string>
		<key>countryFTName</key>
		<string>獅子山</string>
		<key>countryName</key>
		<string>塞拉利昂</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>357</string>
		<key>countryFTName</key>
		<string>賽普勒斯</string>
		<key>countryName</key>
		<string>塞浦路斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>248</string>
		<key>countryFTName</key>
		<string>塞席爾群島</string>
		<key>countryName</key>
		<string>塞舌尔群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>685</string>
		<key>countryFTName</key>
		<string>薩摩亞</string>
		<key>countryName</key>
		<string>萨摩亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>966</string>
		<key>countryFTName</key>
		<string>沙烏地阿拉伯</string>
		<key>countryName</key>
		<string>沙特阿拉伯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>290</string>
		<key>countryFTName</key>
		<string>聖赫勒拿島</string>
		<key>countryName</key>
		<string>圣赫勒拿岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1869</string>
		<key>countryFTName</key>
		<string> 聖基茨和尼維斯</string>
		<key>countryName</key>
		<string>圣基茨和尼维斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1758</string>
		<key>countryFTName</key>
		<string>聖露西亞</string>
		<key>countryName</key>
		<string>圣露西亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>590</string>
		<key>countryFTName</key>
		<string> 聖馬丁海島領地</string>
		<key>countryName</key>
		<string>圣马丁海岛领地</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>378</string>
		<key>countryFTName</key>
		<string> 聖馬利諾共和國</string>
		<key>countryName</key>
		<string>圣马力诺共和国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>508</string>
		<key>countryFTName</key>
		<string>聖匹島</string>
		<key>countryName</key>
		<string>圣皮埃尔和密克隆群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>784</string>
		<key>countryFTName</key>
		<string>聖文森特和格林納丁斯群島</string>
		<key>countryName</key>
		<string>圣文森特和格林纳丁斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>268</string>
		<key>countryFTName</key>
		<string>史瓦濟蘭</string>
		<key>countryName</key>
		<string>史瓦济兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>94</string>
		<key>countryFTName</key>
		<string>斯里蘭卡</string>
		<key>countryName</key>
		<string>斯里兰卡</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>386</string>
		<key>countryFTName</key>
		<string>斯洛維尼亞</string>
		<key>countryName</key>
		<string>斯洛文尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>249</string>
		<key>countryFTName</key>
		<string>蘇丹</string>
		<key>countryName</key>
		<string>苏丹</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>597</string>
		<key>countryFTName</key>
		<string>蘇利南河</string>
		<key>countryName</key>
		<string>苏里南河</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>677</string>
		<key>countryFTName</key>
		<string>所羅門群島</string>
		<key>countryName</key>
		<string>所罗门群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>232</string>
		<key>countryFTName</key>
		<string>塞拉利昴</string>
		<key>countryName</key>
		<string>塞拉利昴</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>221</string>
		<key>countryFTName</key>
		<string>塞內加爾</string>
		<key>countryName</key>
		<string>塞内加尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>248</string>
		<key>countryFTName</key>
		<string>塞席爾</string>
		<key>countryName</key>
		<string>塞舌尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>239</string>
		<key>countryFTName</key>
		<string>聖多美及普林西比島</string>
		<key>countryName</key>
		<string>圣多美和普林西比</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>290</string>
		<key>countryFTName</key>
		<string>聖赫勒拿</string>
		<key>countryName</key>
		<string>圣赫勒拿</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>聖克裡斯托費和尼維斯</string>
		<key>countryName</key>
		<string>圣克里斯托费和尼维斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>聖露西亞</string>
		<key>countryName</key>
		<string>圣卢西亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>39549</string>
		<key>countryFTName</key>
		<string>聖馬利諾</string>
		<key>countryName</key>
		<string>圣马力诺</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>6724</string>
		<key>countryFTName</key>
		<string>聖庭島</string>
		<key>countryName</key>
		<string>圣庭岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>聖文桑特島和格雷納丁斯</string>
		<key>countryName</key>
		<string>圣文桑特岛和格雷纳丁斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>268</string>
		<key>countryFTName</key>
		<string>史瓦濟蘭</string>
		<key>countryName</key>
		<string>斯威士兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>597</string>
		<key>countryFTName</key>
		<string>蘇利南</string>
		<key>countryName</key>
		<string>苏里南</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>252</string>
		<key>countryFTName</key>
		<string>索馬里</string>
		<key>countryName</key>
		<string>索马里</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>66</string>
		<key>countryFTName</key>
		<string>泰國</string>
		<key>countryName</key>
		<string>泰国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>992</string>
		<key>countryFTName</key>
		<string>塔吉克斯坦</string>
		<key>countryName</key>
		<string>塔吉克斯坦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>676</string>
		<key>countryFTName</key>
		<string>東加群島</string>
		<key>countryName</key>
		<string>汤加群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>255</string>
		<key>countryFTName</key>
		<string>坦尚尼亞</string>
		<key>countryName</key>
		<string>坦桑尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1649</string>
		<key>countryFTName</key>
		<string>特克斯和凱科斯群島</string>
		<key>countryName</key>
		<string>特克斯和凯科斯群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1868</string>
		<key>countryFTName</key>
		<string>千里達島和多巴哥</string>
		<key>countryName</key>
		<string>特立尼达岛和多巴哥</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>90</string>
		<key>countryFTName</key>
		<string>土耳其</string>
		<key>countryName</key>
		<string>土耳其</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>993</string>
		<key>countryFTName</key>
		<string>土庫曼</string>
		<key>countryName</key>
		<string>土库曼</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>216</string>
		<key>countryFTName</key>
		<string>突尼斯</string>
		<key>countryName</key>
		<string>突尼斯</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>688</string>
		<key>countryFTName</key>
		<string>吐瓦魯</string>
		<key>countryName</key>
		<string>图瓦卢</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>676</string>
		<key>countryFTName</key>
		<string>東加</string>
		<key>countryName</key>
		<string>汤加</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>千里達和多巴哥</string>
		<key>countryName</key>
		<string>特立尼达和多巴哥</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>678</string>
		<key>countryFTName</key>
		<string>瓦努阿圖</string>
		<key>countryName</key>
		<string>瓦努阿图</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>502</string>
		<key>countryFTName</key>
		<string>瓜地馬拉</string>
		<key>countryName</key>
		<string>危地马拉</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>58</string>
		<key>countryFTName</key>
		<string>委內瑞拉</string>
		<key>countryName</key>
		<string>委内瑞拉</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>673</string>
		<key>countryFTName</key>
		<string>汶萊</string>
		<key>countryName</key>
		<string>文莱</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>256</string>
		<key>countryFTName</key>
		<string>烏干達</string>
		<key>countryName</key>
		<string>乌干达</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>380</string>
		<key>countryFTName</key>
		<string>烏克蘭</string>
		<key>countryName</key>
		<string>乌克兰</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>595</string>
		<key>countryFTName</key>
		<string>巴拉圭</string>
		<key>countryName</key>
		<string>巴拉圭</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>598</string>
		<key>countryFTName</key>
		<string>烏拉圭</string>
		<key>countryName</key>
		<string>乌拉圭</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>998</string>
		<key>countryFTName</key>
		<string>烏茲別克斯坦</string>
		<key>countryName</key>
		<string>乌兹别克斯坦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1808</string>
		<key>countryFTName</key>
		<string>威克島</string>
		<key>countryName</key>
		<string>威克岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1809</string>
		<key>countryFTName</key>
		<string>維爾京群島</string>
		<key>countryName</key>
		<string>维尔京群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>34</string>
		<key>countryFTName</key>
		<string>西班牙</string>
		<key>countryName</key>
		<string>西班牙</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>30</string>
		<key>countryFTName</key>
		<string>希臘</string>
		<key>countryName</key>
		<string>希腊</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>687</string>
		<key>countryFTName</key>
		<string>新赫里多尼亞島</string>
		<key>countryName</key>
		<string>新喀里多尼亚岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>36</string>
		<key>countryFTName</key>
		<string>匈牙利</string>
		<key>countryName</key>
		<string>匈牙利</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>963</string>
		<key>countryFTName</key>
		<string>敘利亞</string>
		<key>countryName</key>
		<string>叙利亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>685</string>
		<key>countryFTName</key>
		<string>西薩摩亞</string>
		<key>countryName</key>
		<string>西萨摩亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1808</string>
		<key>countryFTName</key>
		<string>夏威夷</string>
		<key>countryName</key>
		<string>夏威夷</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>687</string>
		<key>countryFTName</key>
		<string>新赫里多尼亞群島</string>
		<key>countryName</key>
		<string>新喀里多尼亚群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1876</string>
		<key>countryFTName</key>
		<string>牙買加</string>
		<key>countryName</key>
		<string>牙买加</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>374</string>
		<key>countryFTName</key>
		<string>亞美尼亞</string>
		<key>countryName</key>
		<string>亚美尼亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>967</string>
		<key>countryFTName</key>
		<string>葉門</string>
		<key>countryName</key>
		<string>也门</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>39</string>
		<key>countryFTName</key>
		<string>義大利</string>
		<key>countryName</key>
		<string>意大利</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>964</string>
		<key>countryFTName</key>
		<string>伊拉克</string>
		<key>countryName</key>
		<string>伊拉克</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>98</string>
		<key>countryFTName</key>
		<string>伊朗</string>
		<key>countryName</key>
		<string>伊朗</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>62</string>
		<key>countryFTName</key>
		<string>印尼</string>
		<key>countryName</key>
		<string>印度尼西亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>91</string>
		<key>countryFTName</key>
		<string>印度</string>
		<key>countryName</key>
		<string>印度</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>44</string>
		<key>countryFTName</key>
		<string>英國</string>
		<key>countryName</key>
		<string>英国</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1284</string>
		<key>countryFTName</key>
		<string> 英屬維京群島</string>
		<key>countryName</key>
		<string>英属维尔京群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1284</string>
		<key>countryFTName</key>
		<string>英屬維爾京群島</string>
		<key>countryName</key>
		<string>英属维京群岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>246</string>
		<key>countryFTName</key>
		<string> 英屬印度洋領地</string>
		<key>countryName</key>
		<string>英属印度洋领地</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>972</string>
		<key>countryFTName</key>
		<string>以色列</string>
		<key>countryName</key>
		<string>以色列</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>962</string>
		<key>countryFTName</key>
		<string>約旦</string>
		<key>countryName</key>
		<string>约旦</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>84</string>
		<key>countryFTName</key>
		<string>越南</string>
		<key>countryName</key>
		<string>越南</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>260</string>
		<key>countryFTName</key>
		<string>尚比亞</string>
		<key>countryName</key>
		<string>赞比亚</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>44</string>
		<key>countryFTName</key>
		<string>澤西島</string>
		<key>countryName</key>
		<string>泽西岛</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>235</string>
		<key>countryFTName</key>
		<string>查德</string>
		<key>countryName</key>
		<string>乍得</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>350</string>
		<key>countryFTName</key>
		<string>直布羅陀</string>
		<key>countryName</key>
		<string>直布罗陀</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>56</string>
		<key>countryFTName</key>
		<string>智利</string>
		<key>countryName</key>
		<string>智利</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>243</string>
		<key>countryFTName</key>
		<string>薩伊</string>
		<key>countryName</key>
		<string>扎伊尔</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>236</string>
		<key>countryFTName</key>
		<string>中非</string>
		<key>countryName</key>
		<string>中非</string>
	</dict>
	<dict>
		<key>areaCode</key>
		<string>1808</string>
		<key>countryFTName</key>
		<string>中途島</string>
		<key>countryName</key>
		<string>中途岛</string>
	</dict>
</array>
</plist>
