<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<include file="Public/sidebar"/>
    <div class="bootstrap-table">
        <div class="fixed-table-toolbar"></div>
        <div class="fixed-table-container" style="padding-bottom: 0px;">
            <div class="fixed-table-header" style="display: none">
                <table></table>
            </div>
            <div class="fixed-table-body">
                <iframe id="resultframe" name="resultframe" frameborder="0" id="resultframe"  width="100%" height="890px" src="{:U('Index/log')}"> 

                </iframe>
            </div>
        </div>
    </div>
</div>

<include file="Public/footerjs"/>
</body>
</html>
<script>
    $('.hd-a').click(function(){
        var url = $(this).attr('href');
        var Request = new Object();
        Request = GetRequest(url);
        var Con = Request['c'];
        var Act= Request['a'];
        if(Con === 'Logout' && Act === 'index') {
            window.location = '{:U('Logout/index')}';
        } else {
            $("#resultframe").attr('src', url);
        }
    });
     //js 获取url中的参数
    function GetRequest(url) {
       var theRequest = new Object();
       if (url.indexOf("?") != -1) {
          var str = url.substr(1);
          strs = str.split("&");
          for(var i = 0; i < strs.length; i ++) {
             theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
          }
       }
       return theRequest;
    }
</script>
