<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <script src="__PUBLIC__/qwadmin/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/qwadmin/js/plugins/layer/layer.js"></script>
    <script src="__PUBLIC__/qwadmin/js/jquery.selectlist.js"></script>
    <script src="__PUBLIC__/qwadmin/js/jquery-ui.js"></script>
    <link href="__PUBLIC__/qwadmin/css/common.css" rel="stylesheet"/>
    <link href="__PUBLIC__/qwadmin/css/login.css" rel="stylesheet"/>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js">
    </script>
    <title>用户登录(User Login )</title>
</head>
<body style="height: 100% ">

<header class="top">
    <article class="main">
        <h2>管理后台</h2>
    </article>
</header>

<section class="main login-main clear">
    <aside class="left fl">
        <img width="380" height="390" src="__PUBLIC__/qwadmin/images/login.png" alt="ad" class="ad"/>
    </aside>
    <aside class="right fr">
        <article class="login-box">
            <form action="{:U('login/login')}" method="post">
                <ul class="form-items">
                    <li>
                        <input type="text" name="user" id="username" placeholder="username"/>
                        <span>not null</span>
                    </li>
                    <li>
                        <input type="password" name="password" id="password" placeholder="password"/>
                        <span>not null</span>
                    </li>
                    <li>
                        <img src="{:U('login/verify')}" onclick="this.src = '{:U('login/verify')}'" alt="verification code" title="Click the refresh"/><span>点验证码刷新</span>
                    </li>
                    <li>
                        <input type="text" name="verify" id="validation" placeholder="input validation"/>
                        <span>not null</span>
                    </li>
                    <li>
                        <input type="submit" id="submit" value="LOGIN"/>
                    </li>
                </ul>
            </form>
        </article>
    </aside>
</section>
</body>

</html>
<!-- 引入公共脚文件 -->
<include file="Public:footer" />

<script type="text/javascript">
 $(function () {
    $("#submit").click(function(){
        
        if ($("#username").val() == '')
        {
            alert('please input the username！');
            history.back(-1);
        }
        if ($("#password").val() == '')
        {
            alert('please input the password！');
            history.back(-1);
        }
        
        if ($("#validation").val() == '')
        {
            alert('please input the validation！');
            history.back(-1);
        }
    });


});
</script>