<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>
		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<include file="Public/head" />
		
   </head>
	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div style="margin:20px auto;width:750px;">
							<div class="col-xs-12 basic-grey" style="height: 800px">
								<!-- PAGE CONTENT BEGINS -->
								<form action="" method="post" class="STYLE-NAME">
									<h1 align="center">Push Message</h1>
									<label>
										<span>TITLE :</span>
										<input type="text" name="title" id="title" placeholder="请输入通知标题，最多20个字" maxlength="20"/>
									</label>
									<label>
										<span>CONTENT :</span>
										<textarea name="content" id="content" placeholder="请输入通知内容，最多300个字" maxlength="300"></textarea>
									</label>
									
									<label>
										<span>Expire Time :</span>
										<input type="text" name="offlineTime" id="offlineTime" value="" placeholder="0-72 小时内的正整数，该时间段内cid在线过用户均可收到通知" maxlength="2"/>
									</label>
									<label>
										<span>URL :</span>
										<input type="text" name="url" id="url" placeholder="请输入URL" maxlength="2" />
									</label>
									<label>
										<span>OS :</span>
										<div style="padding-left: 160px !important;">
											<input name="ANDROID" value="1" type="checkbox" class="check0" checked="checked">
											 &nbsp;&nbsp;<span style="font-weight: 500 !important">Android</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<input name="IOS" value="1" type="checkbox" class="check0" checked="checked"> 
											&nbsp;&nbsp;<span style="font-weight: 500 !important">iOS</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</div>
									</label>
									<label></label>
									<label style="margin-top:15px !important;margin-bottom:45px !important;">
										<span>IMAGE :</span>
										<div class="col-sm-9">
											<div class="">{:UpImage("image",400,230,$member['head'])}</div>
											<span class="middle" style="font-weight: 500 !important">小于1MB的jpg、gif、png、bmp、jpeg</span>
										</div>
									</label>
									<label style="margin-left: 230px !important;margin-top: 300px !important">
										<span>&nbsp;</span>
										<input type="button" class="button" value="Send" style="float: center"/>
									</label>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(".submit").click(function(){
			$("#form").submit();
		})
		</script>
	</body>
</html>
