<style type="text/css">
	.control-label{
		width: 5%!important;
	}
	.form-group{
		line-height: 10% !important;
		margin: 5% auto !important;
	}
	.panel-heading{
		text-align: center;
		background-color:rgb(24, 188, 156) ;
		height: 50px;
		font-size: 20px;
		color: #fff;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.form-group{
		line-height: 6% !important;
    	margin: 1% auto !important;
	}
	.col-sm-2-2 {
	    width: 25% !important;
	    line-height: 2.5rem !important;
	    font-weight: 500 !important;
	    letter-spacing: 1 !important;
	}
	
	input[type="radio"], input[type="checkbox"] {
	    margin: 15px 0 0 !important;
	    margin-top: 1px \9 !important;
	    line-height: 2rem !important;
	    font-size: 35px !important;
	}
</style>
<include file="Public/head"/>
<body class="no-skin">
    <div class="bootstrap-table1">
		<div class="col-md-4"  style="width: 100% !important;margin:20px auto!important;height:800px">
	        <div class="box box-success" style="height: 800px;width:50%;margin: 10px auto auto 20%">
	            <div class="panel-heading">PUSH &nbsp;&nbsp;MESSAGE</div>
				<form id="add-form" class="form-horizontal nice-validator n-default n-bootstrap" role="form" data-toggle="validator" method="POST" action="{:U('push')}" novalidate="novalidate">
				    <div class="form-group">
				        <label for="name" class="control-label col-xs-12 col-sm-2-2">SCENCE:</label>
				        <div class="col-xs-12 col-sm-8">
				            <label for="row[status]-normal">
				            	<input id="row[status]-normal" name="BETA" type="radio" value="normal"> 测试环境
				            </label> &nbsp;&nbsp;
				            <label for="row[status]-hidden">
				            	<input id="row[status]-hidden" name="CN" type="radio" value="hidden"> 大陆正式
				            </label>&nbsp;&nbsp;
				            <label for="row[status]-hidden">
				            	<input id="row[status]-hidden" name="TW" type="radio" value="hidden"> 台湾正式
				            </label>     
				        </div>
				    </div>

				    <div class="form-group">
				        <label class="control-label col-xs-12 col-sm-2-2">OS:</label>
				        <div class="col-xs-12 col-sm-8">
				            <label for="row[status]-normal">
				            	<input id="row[status]-normal" checked="checked" name="ANDROID" type="checkbox" value="1"> ANDROID
				            </label> &nbsp;&nbsp;
				            <label for="row[status]-hidden">
				            	<input id="row[status]-hidden" name="IOS" type="checkbox" value="1" checked="checked"> IOS
				            </label>        
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="name" class="control-label col-xs-12 col-sm-2-2">URL:</label>
				        <div class="col-xs-12 col-sm-8">
				            <input type="text" class="form-control" id="url" name="url" value="" aria-required="true" placeholder="请输入URL">
				        </div>
				    </div>
				
				    <div class="form-group">
				        <label for="name" class="control-label col-xs-12 col-sm-2-2">ALIAS:</label>
				        <div class="col-xs-12 col-sm-8">
				            <input type="text" class="form-control" id="alias" name="alias" value="" aria-required="true" placeholder="个推绑定的账号">
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="name" class="control-label col-xs-12 col-sm-2-2">TITLE:</label>
				        <div class="col-xs-12 col-sm-8">
				            <input type="text" class="form-control" id="title" name="title" value="" aria-required="true" placeholder="请输入通知标题">
				        </div>
				    </div>
				    
				    <div class="form-group">
				        <label for="content" class="control-label col-xs-12 col-sm-2-2">CONTENT:</label>
				        <div class="col-xs-12 col-sm-8">
				            <textarea name="content" id="conent" cols="30" rows="5" class="form-control" aria-required="true" placeholder="请输入通知内容，最多300个字" maxlength="300"></textarea>
				        </div>
				    </div>

				    <div class="form-group" style="margin-bottom: 20px">
				        <label for="content" class="control-label col-xs-12 col-sm-2-2">IMAGE:</label>
				        <div class="col-xs-12 col-sm-8">
				            <div class="" style="margin-bottom: 20px;">{:UpImage("image",350,200,$member['head'])}</div>
							<span class="middle" style="font-weight: 500 !important;margin-top: 20px;margin-bottom: 20px ">仅支持小于1MB的jpg、gif、png、bmp、jpeg</span>
				        </div>
				    </div><br/>
				    <div class="form-group">
				        <label for="maximums" class="control-label col-xs-12 col-sm-2-2">EXPIRE TIME:</label>
				        <div class="col-xs-12 col-sm-8">
				            <input type="text" class="form-control" id="offlineTime" name="offlineTime" value="" maxlength="2" aria-required="true" placeholder="0-72小时内的正整数,该时间段内cid在线过用户均可收到通知">
				        </div>
				    </div>
				    <div class="form-group" style="margin-top:20px !important">
				        <label for="name" class="control-label col-xs-12 col-sm-2-2"></label>
				        <div class="col-xs-12 col-sm-8">
				        	<button type="reset" class="btn btn-default btn-embossed" style="border-radius:3px;height:30px;margin-right: 160px;">重置</button>
				            <button type="submit" class="btn btn-success btn-embossed" style="background: #18bc9c;border-radius:3px;height:30px;">确定</button>
				        </div>
				    </div>
				</form>
	        </div>
	    </div>
	</div>
</body>
</html>
<include file="Public/footerjs"/>

<script type="text/javascript">
	$( "#dialog" ).dialog({
	    autoOpen: false,
	    width: 250,
	    height:140,
	    title:'推送确认'
	});
	
	$(".submit").click(function(){
		$("#form").submit();
	})
	$(".button").click(function(){
		var title = $("input[name='title']").val();
		var content = $("input[name='content']").val();
		var Expire = $("input[name='offlineTime']").val();
		var url = $("input[name='url']").val();
		if (title == '') {
			alert('缺少标题');
		}
		if (content == '') {
			alert('缺少内容');
		} 
		if (Expire == '') {
			alert('缺少有效期');
		}
		if (url == '') {
			alert('缺少附加连接，确定不需要？');
		}
		if (title == '' || content == '' || Expire == ''){
			alert('标题，内容，有效期 为必填内容');
			return false;
		} else {
			// $( "#dialog" ).dialog( "open" );
		 //    event.preventDefault();
		 //    $("#submit-addrow").click(function(){
		 //    	var password = $("#password").val();
		 //    	var flag = $("#flag0").val();
		 //    	$.post("{:U('PushMessage/confirm')}", {flag:flag, password:password}, function(data){   
	  //              if (data.status == 'ok') {
	  //                   alert(data.msg);
	  //                   $("#form").submit();
	  //               }else {
	  //                   alert(data.msg);
	  //                   return false;
	  //               }
	  //           });
		 //    });
		}
	});
</script>