<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<script src="__PUBLIC__/qwadmin/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    try {
        ace.settings.check('main-container', 'fixed')
    } catch (e) {
    }
</script>
<style>
    .grouptd {position: relative;}
    .group {display: inline-block;width: 100%;}
    .groupselect {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 0;}
    input{text-align: left;}
    td{text-align: left; }
    input{border: none;}
</style>


<div class="main-container" id="main-container">
    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <include file="Public/breadcrumbs"/>
            <div class="page-content">
                <include file="Public/set"/>
                <div class="row" style="margin-left: 18px;float: left;">
                <form class="form-inline form2" action="{:U('UserAmount/getGraphByDate')}" method="post" style="float: left;">
                    <label class="inline">&nbsp;&nbsp;日期 : </label>
                    <input id="bgn_time" type="text" onClick="WdatePicker({dateFmt:'yyyy-M-d'})" name="bgn_time" value="{:I(bgn_time)}" placeholder="格式:2017-06-26" class="form-control">

                    <label class="inline">&nbsp;&nbsp;至 : </label>
                    <input id="end_time" type="text" onClick="WdatePicker({dateFmt:'yyyy-M-d'})" name="end_time" value="{:I(end_time)}" placeholder="格式:2017-06-26"  class="form-control">
                    <input type="hidden" name="mark" id="mark" value="">
                    <button type="submit" class="btn btn-purple btn-sm btn1">
                        日统计
                    </button>
                    <button type="submit" class="btn btn-purple btn-sm btn2">
                        月统计
                    </button>
                </form>
            </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="space-4"></div>
                        <div class="row" style="margin-left: 20px;"> 
                        <button id="reback" style="float:right;margin-right:300px;">返回</button>
                            <div id="mainContent">
                                <div class="contentBox" style="padding-top: 10px;padding-left:50px;">
                                    <p>
                                        <h1 style="font-size: 18px;color:#3fb77b">充值统计&nbsp;&nbsp;<i class="fa fa-line-chart"></i></h1>
                                        
                                    </p>
                                    <div class="row">
                                        <div class="div-80 m-auto">
                                            <!-- <div class="panel panel-default"> -->
                                            <div>
                                                <div id="main" style="height:400px;width: 1000px"></div>
                                                <div id="sex" style="height:400px;min-width:70%;width:auto"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer"/>
</div>
<include file="Public/footerjs"/>
</body>
</html>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<!-- ECharts单文件引入 -->
<script src="__PUBLIC__/qwadmin/js/jquery-1.9.1.min.js"></script>
<script>//alert(8989);
    $(function(){
        $("#reback").click(function(){ 
            var url = window.location.href;                                                
            if (url.indexOf("?") > 0) {
                url0 = url.split("?");
                url = url0['0'];
            }
            url = url+'?m=Qwadmin&c=UserAmount&a={$action}';
            location.href = url;
        });
    });
    
</script>
<script type="text/javascript">
$(".btn1").click(function(){
    $("#mark").val('1');
});

$(".btn2").click(function(){
    $("#mark").val('2');
});

$('Document').ready(function(){
    // 基于准备好的dom，初始化echarts图表
    var myChart = echarts.init(document.getElementById('main'));
    var subStr = '';
    subStr = '{$bgn_time} ~ {$end_time}';
    subStr == '' ? subStr : '所有数据';
    option = {
        title : {
            color: ['##3fb77b'],
            text: '{$title}',
            subtext: subStr,
            x:'center'
        },
        color: ['#3fb77b'],
        tooltip : {
            trigger: 'axis',
            axisPointer : { // 坐标轴指示器，坐标轴触发有效
                type : 'line' // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                name : '日期',
                type : 'category',
                data : {$xlistId},
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                name : '金额(¥)',
                type : 'value'
            }
        ],
        series : [
            {
                name:'充值金额',
                type:'line',
                stack:'充值金额',
                barWidth: '60%',
                data:{$ylist}
            }
        ]
    };

    // 为echarts对象加载数据
    myChart.setOption(option);
});

</script>