<include file="Public/head"/>
<body class="no-skin">
    <div class="bootstrap-table1">
        <div class="fixed-table-toolbar">
            <div class="commonsearch-table" >
                <form class="form-inline form-commonsearch nice-validator n-default" action="{:U('UserAmount/Index')}" method="post" novalidate="novalidate">
                    <fieldset>
                        <div class="form-group" style="margin: 5px">
                            <label for="id" class="control-label" style="padding:0 10px">uuid:</label>
                            <input type="text" class="form-control" name="uuid" value="{:I('uuid')}"  id="uid">
                        </div>
                        <div class="form-group" style="margin: 5px">
                            <label for="id" class="control-label" style="padding:0 10px">iphone:</label>
                            <input type="text" class="form-control" name="iphone" value="{:I('iphone')}"  id="iphone">
                        </div>
                        <div class="form-group" style="margin: 5px">
                            <label for="id" class="control-label" style="padding:0 10px">nickname:</label>
                             <input type="text" class="form-control" name="nickname" value="{:I('nickname')}"  id="nickname">
                        </div>
                        <div class="form-group" style="margin:5px">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-success" style="background: #18bc9c;border-radius:3px;height:30px;">搜 索</button> 
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="fixed-table-container" style="padding-bottom: 0px;">
            <div class="fixed-table-body">
                <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%;margin-top: 0"> 
                    <thead> 
                        <tr>
                            <th data-field="id" class="table-th">
                                <div class="th-inner ">UID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th data-field="id" class="table-th">
                                <div class="th-inner ">UUID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="pid">
                                <div class="th-inner ">USERNAME</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="name">
                                <div class="th-inner ">NICKNAME</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th" data-field="status">
                                <div class="th-inner ">DIAMOND</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th" data-field="operate">
                                <div class="th-inner ">COINS</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th" data-field="operate">
                                <div class="th-inner ">OS</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th" data-field="operate">
                                <div class="th-inner ">第三方类型</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-2" data-field="operate">
                                <div class="th-inner ">第三方账号ID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="operate">
                                <div class="th-inner ">操作</div>
                                <div class="fht-cell"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="data-listidx">
                        <volist name="list" id="val">
                            <tr data-index="{$val['id']}"> 
                                <td class="tbody-td">{$val['id']}</td> 
                                <td class="tbody-td">{$val['uuid']}</td> 
                                <td class="tbody-td-1" style="width: 250px;">{$val['username']}</td>
                                <td class="tbody-td-1">{$val['nickname']}</td>
                                <td class="tbody-td">{$val['diamond']}</td> 
                                <td class="tbody-td">{$val['coins']}</td> 
                                <td class="tbody-td">{$val['os']}</td>
                                <td class="tbody-td">{$val['account_type']}</td>
                                <td class="tbody-td-1" style="width: 250px;">{$val['account_id']}</td>
                                <td class="tbody-td-1">
                                    <button class="btn btn-info recharge" id="dialog-recharge" onclick="rechargeCoins('{$val['id']}', '{$val['os']}', '{$val['username']}')">充德州币</button>
                                        &nbsp;&nbsp;&nbsp; 
                                    <button class="btn btn-info recharge" id="dialog-recharge" onclick="rechargeDia('{$val['id']}', '{$val['os']}', '{$val['username']}')">充钻</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-info freeze"  onclick="freeze('{$val['id']}', '{$val['is_block']}', '{$val['status']}')">{$val['status']}</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-info recharge" id="dialog-recharge" onclick="registration('{$val['id']}', '{$val['os']}', '{$val['username']}')">报名</button>
                                </td> 
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <div >{$page}</div>
    </div>
</div>
</body>
</html>


<div id="dialog" class="ui-dialog-content1 ui-widget-content" style="width: auto; min-height: 50px; max-height: none; height: auto;">
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">用户id:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="uid" value="" aria-required="true" readonly="true">
        </div>
    </div><br/>
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">用户名:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="username" value="" aria-required="true" readonly="true">
        </div>
    </div><br/>
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">操作系统:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="os" value="" aria-required="true" readonly="true">
        </div>
    </div><br/>
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">钻石数:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="diamond" value="" aria-required="true"
             placeholder="输入钻石数量">
        </div>
    </div><br/><br/>
    <div class="form-group" >
        <label for="action" class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-info btn-embossed" id="submit-recharge">充值</button>
        </div>
    </div><br/>
</div>

<div id="dialog1" class="ui-dialog-content1 ui-widget-content" style="width: auto; min-height: 50px; max-height: none; height: auto;">
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">用户id:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="uid" value="" aria-required="true" readonly="true">
        </div>
    </div><br/>
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">用户名:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="username" value="" aria-required="true" readonly="true">
        </div>
    </div><br/>
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">操作系统:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="os" value="" aria-required="true" readonly="true">
        </div>
    </div><br/>
    <div class="form-group">
        <label for="action" class="control-label col-xs-12 col-sm-2">德州币:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" name="coins" value="" aria-required="true"
             placeholder="输入德州币数量">
        </div>
    </div><br/><br/>
    <div class="form-group" >
        <label for="action" class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-info btn-embossed" id="submit-recharge1">充值</button>
        </div>
    </div><br/>
</div>


<include file="Public/footerjs"/>

<script type="text/javascript">

$( "#dialog" ).dialog({
    autoOpen: false,
    width: 450,
    height:330,
    title:'充 钻 石'
});

$( "#dialog1" ).dialog({
    autoOpen: false,
    width: 450,
    height:330,
    title:'充 德 州 币'
});

function rechargeDia(uid, os, username){ 
    $("input[name='uid']").val(uid);
    $("input[name='os']").val(os);
    $("input[name='username']").val(username);
    $( "#dialog" ).dialog( "open" );
    event.preventDefault();
}

function rechargeCoins(uid, os, username){ 
    $("input[name='uid']").val(uid);
    $("input[name='os']").val(os);
    $("input[name='username']").val(username);
    $( "#dialog1" ).dialog( "open" );
    event.preventDefault();
}

//报名
function registration(uid, os, username){ alert(uid);alert('待完善');return false;
    $.post("url", {uid:uid, os:os, diamond:diamond}, function(data){   
        if (data.status == 'ok') { 
            alert(data.msg);
            window.location.reload();
        }else {
            alert(data.msg);
            return false;
        }
    });
}

var rule = /^[0-9]*[1-9][0-9]*$/;

$("input[name='diamond']").blur(function(){
    var dia = $("input[name='diamond']").val();
    if (!rule.test(dia)){
        alert('请输入正整数！');
        return false;
    }
});

$("#submit-recharge").click(function(){
    var uid = $("input[name='uid']").val();
    var os = $("input[name='os']").val();
    var username = $("input[name='username']").val();
    var diamond = $("input[name='diamond']").val();
    if (diamond == '') {
        alert('请输入要充值的钻石数量');
        return false;
    } else if (!rule.test(diamond)){
        alert('输入正整数！');
        return false;
    } else{
        $.post("{:U('UserAmount/rechargeDia')}", {uid:uid, os:os, diamond:diamond}, function(data){   
           if (data.status == 'ok') { 
                alert(data.msg);
                window.location.reload();
            }else {
                alert(data.msg);
                return false;
            }
        });
       
    }
});

$("#submit-recharge1").click(function(){
    var uid = $("input[name='uid']").val();
    var os = $("input[name='os']").val();
    var username = $("input[name='username']").val();
    var coins = $("input[name='coins']").val();
    if (coins == '') {
        alert('请输入要充值的德州币数量');
        return false;
    } else if (!rule.test(coins)){
        alert('输入正整数！');
        return false;
    } else{
        $.post("{:U('UserAmount/rechargeCoins')}", {uid:uid, os:os, coins:coins}, function(data){   
           if (data.status == 'ok') { 
                alert(data.msg);
                window.location.reload();
            }else {
                alert(data.msg);
                return false;
            }
        });
       // return false;
    }
});

function freeze(uid, isblock, status){
    if (uid == '' || isblock == '') {
        alert('缺少'+status+'参数');
        return false;
    } else{
        $.post("{:U('UserAmount/freeze')}", {uid:uid, isblock:isblock}, function(data){   
           if (data.status == 'ok') { 
                alert(data.msg);
                window.location.reload();
            }else {
                alert(data.msg);
                return false;
            }
        });     
    }
   
}

</script>
</body>
</html>
