
<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <include file="Public/breadcrumbs"/>
            <div class="page-content">
                <include file="Public/set"/>
                <style>
                    .grouptd {
                        position: relative;
                    }
                    .group {
                        display: inline-block;
                        width: 100%;
                    }
                    .groupselect {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                    input{
                        text-align: left;
                    }
                    td{
                        text-align: left;
                    }
                    input {
                        border: none;
                    }

                </style>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" style="margin-left: 18px;float: left;">
                            <form class="form-inline" action="{:U('UserAmount/OfficialAccountsOrder')}" method="post" style="float: left;">
                                <label class="inline">&nbsp;&nbsp;id : </label><input type="text" name="id" value="{:I(id)}" class="form-control">
                                <label class="inline">&nbsp;&nbsp;uid : </label> <input type="text" name="uid" value="{:I(uid)}" class="form-control">
                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    Search
                                </button>
                            </form>
                             <a href="{:U('UserAmount/Order')}" class="btn btn-purple btn-sm" style="text-decoration: none;float: left;">平台充值列表</a>
                        </div>
                        <div class="space-4"></div>
                        <div class="row" style="margin-left: 20px;">
                           
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th >ID</th>
                                            <th >UID</th>
                                            <th >充值账号</th>
                                            <th >MONEY</th>
                                            <th >ACCOUNT MONEY</th>
                                            <th >充值时间</th>
                                            <th >充值成功时间</th>
                                            <th >状态</th>
                                            <th >交易号</th>
                                            <th >充值渠道</th>
                                            <th >产品id</th>
                                            <th >第三方订单ID</th>
                                            <th >钻石余额</th>
                                        </tr>
                                    </thead>
                                    <tbody>                           
                                        <volist name="list" id="val">
                                            <tr>
                                                <td >{$val['id']}</td>
                                                <td >{$val['uid']}</td>
                                                <td >{$val['username']}</td>
                                                <td >{$val['money']}</td>
                                                <td >{$val['account_money']}</td>
                                                <td >{$val['time']}</td>
                                                <td >{$val['success_time']}</td>
                                                <td >{$val['status']}</td>
                                                <td >{$val['order_id']}</td>
                                                <td >{$val['channel']}</td>
                                                <td >{$val['product_id']}</td>
                                                <td >{$val['extend_order_id']}</td>
                                                <td >{$val['diamond']}</td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>
                            
                           <div style="margin:0 auto">{$page}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer"/>
</div>
<include file="Public/footerjs"/>
</body>
</html>
