<include file="Public/head"/>
    <div class="bootstrap-table1">
        <div class="fixed-table-toolbar">
            <div class="commonsearch-table" >
                <form class="form-inline form-commonsearch nice-validator n-default" action="{:U('UserAmount/OfficialAccountsOrder')}" method="post" novalidate="novalidate">
                    <fieldset>
                        <div class="form-group" style="margin: 5px">
                            <label for="id" class="control-label" style="padding:0 10px">id:</label>
                            <input type="text" class="form-control" name="id" value="{:I('id')}"  id="id">
                        </div>
                        <div class="form-group" style="margin: 5px">
                            <label for="id" class="control-label" style="padding:0 10px">uid:</label>
                            <input type="text" class="form-control" name="uid" value="{:I('uid')}"  id="uid">
                        </div>
                        <div class="form-group" style="margin:5px">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-success" style="background: #18bc9c;border-radius:3px;height:30px;">搜 索</button> 
                            </div>
                        </div>

                        <div class="form-group" style="margin:5px">
                            <div class="col-sm-12 text-center">
                                <a href="{:U('UserAmount/getCountlyGraph')}" class="btn btn-success btn-countly" style="background: #18bc9c;border-radius:3px;height:30px;">公众号充值统计</a> 
                            </div>
                        </div>
                         <div class="form-group" style="margin:5px">
                            <div class="col-sm-12 text-center">
                                <a href="{:U('UserAmount/getGraphByDate')}" class="btn btn-success" style="background: #18bc9c;border-radius:3px;height:30px;">按日期统计</a> 
                            </div>
                        </div>

                        <div class="form-group" style="margin:5px">
                            <div class="col-sm-12 text-center">
                                <a href="{:U('UserAmount/Order')}" class="btn btn-success" style="background: #18bc9c;border-radius:3px;height:30px;">平台充值列表</a> 
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="fixed-table-container" style="padding-bottom: 0px;">
            <div class="fixed-table-body">
                <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%;margin-top: 0"> 
                    <thead> 
                        <tr>
                            <th data-field="id" class="table-th-1">
                                <div class="th-inner ">ID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th data-field="id" class="table-th-1">
                                <div class="th-inner ">UID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th data-field="id" class="table-th-1">
                                <div class="th-inner ">充值账号</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="pid">
                                <div class="th-inner ">MONEY</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="name">
                                <div class="th-inner ">ACCOUNT MONEY</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th" data-field="status">
                                <div class="th-inner ">充值时间</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th" data-field="operate">
                                <div class="th-inner ">充值成功时间</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th" data-field="operate">
                                <div class="th-inner ">状态</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="operate">
                                <div class="th-inner ">交易号</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="operate">
                                <div class="th-inner ">产品id</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="operate">
                                <div class="th-inner ">第三方订单ID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th class="table-th-1" data-field="operate">
                                <div class="th-inner ">钻石余额</div>
                                <div class="fht-cell"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="data-listidx">
                        <volist name="list" id="val">
                            <tr data-index="{$val['id']}"> 
                                <td class="tbody-td">{$val['id']}</td> 
                                <td class="tbody-td">{$val['uid']}</td> 
                                <td class="tbody-td-1">{$val['username']}</td> 
                                <td class="tbody-td-1">{$val['money']}</td>
                                <td class="tbody-td-1">{$val['account_money']}</td>
                                <td class="tbody-td">{$val['time']}</td> 
                                <td class="tbody-td">{$val['success_time']}</td> 
                                <td class="tbody-td">{$val['status']}</td>
                                <td class="tbody-td-1">{$val['order_id']}</td>
                                <td class="tbody-td">{$val['product_id']}</td> 
                                <td class="tbody-td-1">{$val['extend_order_id']}</td> 
                                <td class="tbody-td">{$val['diamond']}</td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <div >{$page}</div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
</script>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $('.btn-countly').click(function(){
            var href = $(this).attr('href');
            href = href+'&flag=2';
            $(this).attr('href', href);
        });
    });
</script>